/* Cobalt CSS Look-and-feel - (c) Sarah 2019 */
* {
	font-family: sans-serif;
	background-color: transparent;
	color: ghostwhite;
	margin: 8px;
	/* cursor: url('../assets/cursor.png'), default; */
}

html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	background: repeating-linear-gradient(#000000, #0F0F0F 4px);
}

hr {
	border: 2px solid #2e356c;
	border-radius: 2px;
}

br {
	display: block;
	content: " "; /* crappy webkit fix */
	margin-top: 12px;
}

button, a {
	cursor: default;
	font-size: 9pt;
	text-shadow: 0px 0px 2px black;
	text-decoration: none;
	padding: 6px;
	border: 1px solid #2e356c;
	background: linear-gradient(#090a0e, #2e356c, #090a0e);
}

	button:hover, a:hover {
		border-color: #37587a;
		background: linear-gradient(#090a0e, #37587a, #090a0e);
	}

	button:active, a:active {
		border-color: #1f265e;
		background: linear-gradient(#090a0e, #1f265e, #090a0e);
	}

input {
	font-size: 9pt;
	text-shadow: 0px 0px 2px black;
	text-decoration: none;
	padding: 6px;
	border: 1px solid #2e356c;
	background: #090a0e;
	box-shadow: #2e356c 0px 0px 8px inset;
}

label {
	font-size: 11pt;
}

canvas {
	border: 2px solid #2e356c;
	box-shadow: black 4px 4px 8px;
}
