/* cotton css theme - (c) sarah 2020 */

html {
	background: #000;
	color: #fff;
	font-family: sans-serif;
	font-size: 10pt;
	perspective: 250mm;
	overflow: auto;
}

body {
	margin: 4mm;
	background: #000;
	overflow: visible;
	text-shadow: 1px 1px 0px black;
	max-width: 80ch;
}

a {
	margin: 0mm;
	padding: 0mm;
	border: none;
	background: transparent;
	color: rgb(255, 127, 0);
	text-decoration: underline;
}

*:disabled {
	opacity: 0.5;
}

#navbar > a, button, input, pre, code, textarea {
	font-family: sans-serif;
	background: #000;
	color: white;
	font-weight: bold;
	font-size: 10pt;
	
	padding: 1mm 2mm;
	margin: 2px;
	text-decoration: none;
	display: inline-block;
	
	border: 1px solid #ff7f00;
	border-radius: 1mm;
	
	tab-size: 4;
}

#navbar > a:active:not(:disabled), button:active:not(:disabled), input:active:not(:disabled) {
	border-color: rgb(255, 63, 0);
	color: rgb(255, 63, 0);
}

#navbar > a:hover:not(:active):not(:disabled),
button:hover:not(:active):not(:disabled),
input:hover:not(:active):not(:disabled) {
	border-color: white;
}

pre, code, textarea, input[type='text'] {
	padding: 1mm 2mm;
	font-family: monospace;
	white-space: pre;
}

::placeholder {
	color: #777;
}

canvas, video {
	background: #000;
	color: white;
	
	border: 1px solid #fff;
	border-radius: 0px;
	outline: none;
}

hr {
	border: 1px solid #ff7f00;
	margin: 2mm 0mm;
}

::selection {
	text-shadow: none;
	background: rgb(255, 127, 0);
	color: black;
}

.social-bar {
	float: right;
	display: inline-flex;
	justify-content:center;
	align-items:center;
}

.social-button {
	border: 1px solid #ff7f00;
	border-radius: 1mm;
	padding: 0px;
	margin: 2px;
	width: 8mm;
	height: 6mm;
	
	display:flex;
	justify-content:center;
	align-items:center;
}

.social-button:hover {
	border-color: white;
}

.social-button:active {
	border-color: #ff3f00;
}

.social-button > * {
	max-width: 70%;
	max-height: 70%;
}

.header {
	margin: -4mm -4mm 4mm -4mm;
	padding-bottom: 1mm;
	background: #000;
	transition: 0.3s ease-out all;
	overflow: hidden;
	border: 1px solid transparent;
	border-bottom-color: #ff7f00;
}

.title {
	font-size: 10pt;
	margin: 1mm 1mm;
}

#navbar {
	background: #000;
	border: none;
}

table.article-contents-box {
	border: 1px solid #777;
	padding: 2mm;
	border-radius: 1mm;
}

h1 {
	font-size: 14pt;
	font-weight: bold;
}

h2 {
	font-size: 12pt;
	font-weight: bold;
}

h3 {
	font-size: 11pt;
	font-weight: bold;
}
