/* darkcrete css theme - (c) sarah 2020 */
html {
	background: rgb(31, 31, 31);
	color: #fff;
	font-family: 'Tahoma', sans-serif;
	font-size: 9pt;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	perspective: 500mm;
	overflow: hidden;
	
	/*
	border: none;
	outline: none;
	border-image-source: url('/assets/darkcrete-border-sunken.svg');
	border-image-slice: 2;
	border-image-width: 2px;
	border-image-repeat: repeat;
	*/
}

.title {
	margin: -6px -6px 4px -6px;
	background: linear-gradient(90deg, black, rgb(31, 31, 31));
	font-size: 8pt;
	padding: 2px 3px;
	vertical-align: center;
	
	/* why hasn't the standard user-select been implemented properly yet? */
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* TODO: find a cool looking animation that doesn't get annoying */
@keyframes body-appear {
	from {
		opacity: 0;
		max-height: 0px;
		overflow: hidden;
	}
	to {
		opacity: 1;
		max-height: 90vh;
		overflow: hidden;
	}
}

body {
	max-width: 90vw;
	max-height: 90vh;
	
	margin: 0px;
	background: rgb(31, 31, 31);
	padding: 8px;
	
	border: 2px solid rgb(63, 63, 63);
	outline: none;
	border-image-source: url('/assets/darkcrete-body-border.svg');
	border-image-slice: 2;
	border-image-width: 2px;
	border-image-repeat: repeat;
	overflow: auto;
	
	/* animation: 1s linear body-appear; */
}

pre, code, textarea, input[type='text'] {
	padding: 2px 4px;
	margin: 2px;
	font-family: monospace;
	white-space: pre;
	font-weight: bold;
	font-size: 10pt;
	
	background: rgb(31, 31, 31);
	color: white;
	
	border: 2px solid rgb(63, 63, 63);
	outline: none;
	border-image-source: url('/assets/darkcrete-border-sunken.svg');
	border-image-slice: 2;
	border-image-width: 2px;
	border-image-repeat: repeat;
}

a, button, input[type='button'] {
	background-image: none;
	background: rgb(31, 31, 31);
	color: white;
	cursor: default;
	font-weight: normal;
	font-size: 9pt;
	
	padding: 2px 4px;
	margin: 2px;
	text-decoration: none;
	display: inline-block;
	
	/* why hasn't the standard user-select been implemented properly yet? */
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	
	border: 2px solid rgb(63, 63, 63);
	border-radius: 0px;
	outline: none;
	border-image-source: url('/assets/darkcrete-border-raised.svg');
	border-image-slice: 2;
	border-image-width: 2px;
	border-image-repeat: repeat;
}

a:active:not(:disabled), button:active:not(:disabled), input[type='button']:active:not(:disabled) {
	border-image-source: url('/assets/darkcrete-border-sunken.svg');
	color: transparent;
	text-shadow: 1px 1px 0px white;
}

a:hover:not(:active), button:hover:not(:active), input[type='button']:hover:not(:active) {
	background-color: rgb(255, 127, 0);
	color: black;
	text-shadow: none;
}

a:hover:disabled, button:disabled, input[type='button']:disabled {
	color: #0f0f0f;
	text-shadow: 1px 1px 0px #3f3f3f;
}

canvas, video, media {
	background: rgb(31, 31, 31);
	color: white;
	
	border: 2px solid rgb(63, 63, 63);
	outline: none;
	
	border-image-source: url('/assets/darkcrete-border-sunken.svg');
	border-image-slice: 2;
	border-image-width: 2px;
	border-image-repeat: repeat;
}

hr {
	border: 2px solid rgb(63, 63, 63);
	outline: none;
	
	border-image-source: url('/assets/darkcrete-border-sunken.svg');
	border-image-slice: 2;
	border-image-width: 2px;
	border-image-repeat: repeat;
}
