/* Silicon CSS look-and-feel - (c) Sarah 2019 */
html {
    width: 100%;
    height: 100%;
    background-color: #444;
}

body {
    font-family: sans-serif;
    border: outset #EEE;
    padding: 8px;
    line-height: 22px;
    font-size: 10pt;
    line-height: 18pt;
    background-color: #CCC;
    overflow: visible auto;
    position: absolute;
    border-width: 22px 6px 6px 6px;
    border-image: url('silicon-body.png') 22 6 6 6 fill;
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.title {
    margin: 0px;
    font-size: 18pt;
}

.navbar {
    margin-top: 2px;
}

hr {
    border: 1px outset #EEE;
    margin: 4px 0px 4px 0px;
}

label {
    font-size: 10pt;
}

p {
    line-height: 2pt;
}

::selection {
    background-color: #07F;
    color: white;
}

button, input[type=button], a {
    background-color: #CCC;
    text-decoration: none;
    color: black;
    padding: 1px 4px;
    cursor: default;
    font-family: sans-serif;
    border: 2px outset #EEE;
    border-image: url('silicon-out.png') 2 fill;
}

    button:active, input[type=button]:active, a:active {
        color: transparent;
        text-shadow: 1px 1px 0px black;
        border: 2px inset #EEE;
        border-image: url('silicon-in.png') 2 fill;
    }

    button::selection, input[type=button]::selection, a::selection {
        background-color: transparent;
        color: black;
    }

    button:active::selection, input[type=button]:active::selection, a:active::selection {
        background-color: transparent;
        color: transparent;
    }

input[type=text] {
    background-color: #CCC;
    text-decoration: none;
    color: black;
    padding: 0px 2px;
    border: 2px inset #EEE;
    border-image: url('silicon-in.png') 2 fill;
}

input[type=checkbox] {
    margin: 0px;
}

canvas {
    border: 2px inset #EEE;
    border-image: url('silicon-in.png') 2 fill;
}
